<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>College Resource Management</title>
</head>
<style>
  .star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}
</style>
<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/courses">College Resource</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/courses">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Course Page</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class='mt-4'>   
      <ol class="breadcrumb">
      <li class='breadcrumb-item'><a href="/courses/<%= department %>">Home</a></li>
      <li class='breadcrumb-item active'><a href="#">Course Page (<%= course%>)</a></li>
    </ol>
  </div>
 
    <br /><br />
    <div class="row">
      <div class="col-md-6 m-auto">
        <%- include ("./partials/messages"); %>  
        <h1 class="text-center display-4 my-4">
          <%= course %>
        </h1>
        <a class="btn btn-primary" href='http://localhost:5000/files/mainfs/<%= department %>/<%= course %>/upload '>Upload file</a>
        <hr>
        <% if(files){ %>
        <% var count=true %>
        <h1>Syllabus</h1>
          <% files.map((file)=> { %>
              <% if(file.isReq) { %>
                <% if(file.metadata[2]=="Syllabus" || file.metadata[3]=="Syllabus") { %>
                <% count=false %>
                <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                <%= file.filename %>
                <div class="row">
                  <div class="col-6">
                    <p>Downloads:<%=file.noDown %> </p>
                  </div>
                  <div class="col-6">
                    <div class="star-rating">
                      <span class="fa fa-star-o" data-rating="1"></span>
                      <span class="fa fa-star-o" data-rating="2"></span>
                      <span class="fa fa-star-o" data-rating="3"></span>
                      <span class="fa fa-star-o" data-rating="4"></span>
                      <span class="fa fa-star-o" data-rating="5"></span>
                      <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                    </div>
                  </div>
                </div>
                  <div class="row align-items-start">
                    <div class="col-2">
                      <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                        <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                      </form>
                    </div>
                    <div class="col-2 mr-2" style="margin-left:10px">
                      <form method="POST"
                        action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                        <button class="btn btn-danger mt-4">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
                  <br>
                  <% } %>
                  <% } %>
            <% }) %>
        <h1>Module 1</h1>
          <% files.map((file)=> { %>
              <% if(file.isReq) { %>
                <% if(file.metadata[2]=="Module 1" || file.metadata[3]=="Module 1") { %>
                <% count=false %>
                <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                <%= file.filename %>
                <div class="row">
                  <div class="col-6">
                    <p>Downloads:<%=file.noDown %> </p>
                  </div>
                  <div class="col-6">
                    <div class="star-rating">
                      <span class="fa fa-star-o" data-rating="1"></span>
                      <span class="fa fa-star-o" data-rating="2"></span>
                      <span class="fa fa-star-o" data-rating="3"></span>
                      <span class="fa fa-star-o" data-rating="4"></span>
                      <span class="fa fa-star-o" data-rating="5"></span>
                      <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                    </div>
                  </div>
                </div>
                  <div class="row align-items-start">
                    <div class="col-2">
                      <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                        <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                      </form>
                    </div>
                    <div class="col-2 mr-2" style="margin-left:10px">
                      <form method="POST"
                        action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                        <button class="btn btn-danger mt-4">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
                  <br>
                  <% } %>
                  <% } %>
            <% }) %>
            <h1>Module 2</h1>
            <% files.map((file)=> { %>
                <% if(file.isReq) { %>
                  <% if(file.metadata[2]=="Module 2" || file.metadata[3]=="Module 2") { %>
                  <% count=false %>
                  <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                  <%= file.filename %>
                  <div class="row">
                    <div class="col-6">
                      <p>Downloads:<%=file.noDown %> </p>
                    </div>
                    <div class="col-6">
                      <div class="star-rating">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>
                        <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                      </div>
                    </div>
                  </div>
                    <div class="row align-items-start">
                      <div class="col-2">
                        <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                          <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                        </form>
                      </div>
                      <div class="col-2 mr-2" style="margin-left:10px">
                        <form method="POST"
                          action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                          <button class="btn btn-danger mt-4">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                    <br>
                    <% } %>
                    <% } %>
              <% }) %>
              <h1>Module 3</h1>
              <% files.map((file)=> { %>
                  <% if(file.isReq) { %>
                    <% if(file.metadata[2]=="Module 3" || file.metadata[3]=="Module 3") { %>
                    <% count=false %>
                    <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                    <%= file.filename %>
                    <div class="row">
                      <div class="col-6">
                        <p>Downloads:<%=file.noDown %> </p>
                      </div>
                      <div class="col-6">
                        <div class="star-rating">
                          <span class="fa fa-star-o" data-rating="1"></span>
                          <span class="fa fa-star-o" data-rating="2"></span>
                          <span class="fa fa-star-o" data-rating="3"></span>
                          <span class="fa fa-star-o" data-rating="4"></span>
                          <span class="fa fa-star-o" data-rating="5"></span>
                          <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                      </div>
                    </div>
                      <div class="row align-items-start">
                        <div class="col-2">
                          <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                            <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                          </form>
                        </div>
                        <div class="col-2 mr-2" style="margin-left:10px">
                          <form method="POST"
                            action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                            <button class="btn btn-danger mt-4">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                      <br>
                      <% } %>
                      <% } %>
                <% }) %>
                <h1>Module 4</h1>
              <% files.map((file)=> { %>
                  <% if(file.isReq) { %>
                    <% if(file.metadata[2]=="Module 4" || file.metadata[3]=="Module 4") { %>
                    <% count=false %>
                    <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                    <%= file.filename %>
                    <div class="row">
                      <div class="col-6">
                        <p>Downloads:<%=file.noDown %> </p>
                      </div>
                      <div class="col-6">
                        <div class="star-rating">
                          <span class="fa fa-star-o" data-rating="1"></span>
                          <span class="fa fa-star-o" data-rating="2"></span>
                          <span class="fa fa-star-o" data-rating="3"></span>
                          <span class="fa fa-star-o" data-rating="4"></span>
                          <span class="fa fa-star-o" data-rating="5"></span>
                          <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                      </div>
                    </div>
                      <div class="row align-items-start">
                        <div class="col-2">
                          <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                            <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                          </form>
                        </div>
                        <div class="col-2 mr-2" style="margin-left:10px">
                          <form method="POST"
                            action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                            <button class="btn btn-danger mt-4">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <br>
                    <% } %>
                    <% } %>
              <% }) %>
                    <h1>Module 5</h1>
                    <% files.map((file)=> { %>
                        <% if(file.isReq) { %>
                          <% if(file.metadata[2]=="Module 5" || file.metadata[3]=="Module 5") { %>
                          <% count=false %>
                          <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                          <%= file.filename %>
                          <div class="row">
                            <div class="col-6">
                              <p>Downloads:<%=file.noDown %> </p>
                            </div>
                            <div class="col-6">
                              <div class="star-rating">
                                <span class="fa fa-star-o" data-rating="1"></span>
                                <span class="fa fa-star-o" data-rating="2"></span>
                                <span class="fa fa-star-o" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                              </div>
                            </div>
                          </div>
                            <div class="row align-items-start">
                              <div class="col-2">
                                <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                                  <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                                </form>
                              </div>
                              <div class="col-2 mr-2" style="margin-left:10px">
                                <form method="POST"
                                  action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                                  <button class="btn btn-danger mt-4">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                            <br>
                            <% } %>
                            <% } %>
                      <% }) %>
                <h1>Module 6</h1>
              <% files.map((file)=> { %>
                  <% if(file.isReq) { %>
                    <% if(file.metadata[2]=="Module 6" || file.metadata[3]=="Module 6") { %>
                    <% count=false %>
                    <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                    <%= file.filename %>
                    <div class="row">
                      <div class="col-6">
                        <p>Downloads:<%=file.noDown %> </p>
                      </div>
                      <div class="col-6">
                        <div class="star-rating">
                          <span class="fa fa-star-o" data-rating="1"></span>
                          <span class="fa fa-star-o" data-rating="2"></span>
                          <span class="fa fa-star-o" data-rating="3"></span>
                          <span class="fa fa-star-o" data-rating="4"></span>
                          <span class="fa fa-star-o" data-rating="5"></span>
                          <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                      </div>
                    </div>
                      <div class="row align-items-start">
                        <div class="col-2">
                          <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                            <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                          </form>
                        </div>
                        <div class="col-2 mr-2" style="margin-left:10px">
                          <form method="POST"
                            action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                            <button class="btn btn-danger mt-4">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                      <br>
                      <% } %>
                      <% } %>
                <% }) %>
                <h1>Module 7</h1>
              <% files.map((file)=> { %>
                  <% if(file.isReq) { %>
                    <% if(file.metadata[2]=="Module 7" || file.metadata[3]=="Module 7") { %>
                    <% count=false %>
                    <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                    <%= file.filename %>
                    <div class="row">
                      <div class="col-6">
                        <p>Downloads:<%=file.noDown %> </p>
                      </div>
                      <div class="col-6">
                        <div class="star-rating">
                          <span class="fa fa-star-o" data-rating="1"></span>
                          <span class="fa fa-star-o" data-rating="2"></span>
                          <span class="fa fa-star-o" data-rating="3"></span>
                          <span class="fa fa-star-o" data-rating="4"></span>
                          <span class="fa fa-star-o" data-rating="5"></span>
                          <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                      </div>
                    </div>
                      <div class="row align-items-start">
                        <div class="col-2">
                          <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                            <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                          </form>
                        </div>
                        <div class="col-2 mr-2" style="margin-left:10px">
                          <form method="POST"
                            action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                            <button class="btn btn-danger mt-4">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                      <br>
                      <% } %>
                      <% } %>
                <% }) %>
                <h1>Guest Lecture</h1>
              <% files.map((file)=> { %>
                  <% if(file.isReq) { %>
                    <% if(file.metadata[2]=="Guest Lecture" || file.metadata[3]=="Guest Lecture") { %>
                    <% count=false %>
                    <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                    <%= file.filename %>
                    <div class="row">
                      <div class="col-6">
                        <p>Downloads:<%=file.noDown %> </p>
                      </div>
                      <div class="col-6">
                        <div class="star-rating">
                          <span class="fa fa-star-o" data-rating="1"></span>
                          <span class="fa fa-star-o" data-rating="2"></span>
                          <span class="fa fa-star-o" data-rating="3"></span>
                          <span class="fa fa-star-o" data-rating="4"></span>
                          <span class="fa fa-star-o" data-rating="5"></span>
                          <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                      </div>
                    </div>
                      <div class="row align-items-start">
                        <div class="col-2">
                          <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                            <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                          </form>
                        </div>
                        <div class="col-2 mr-2" style="margin-left:10px">
                          <form method="POST"
                            action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                            <button class="btn btn-danger mt-4">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                      <br>
                      <% } %>
                      <% } %>
                      <% }) %>
                      <h1>Lab Files</h1>
                      <% files.map((file)=> { %>
                          <% if(file.isReq) { %>
                            <% if(file.metadata[2]=="Lab Files" || file.metadata[3]=="Lab Files") { %>
                            <% count=false %>
                            <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                            <%= file.filename %>
                            <div class="row">
                              <div class="col-6">
                                <p>Downloads:<%=file.noDown %> </p>
                              </div>
                              <div class="col-6">
                                <div class="star-rating">
                                  <span class="fa fa-star-o" data-rating="1"></span>
                                  <span class="fa fa-star-o" data-rating="2"></span>
                                  <span class="fa fa-star-o" data-rating="3"></span>
                                  <span class="fa fa-star-o" data-rating="4"></span>
                                  <span class="fa fa-star-o" data-rating="5"></span>
                                  <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                </div>
                              </div>
                            </div>
                              <div class="row align-items-start">
                                <div class="col-2">
                                  <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                                    <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                                  </form>
                                </div>
                                <div class="col-2 mr-2" style="margin-left:10px">
                                  <form method="POST"
                                    action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                                    <button class="btn btn-danger mt-4">Delete</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                              <br>
                              <% } %>
                              <% } %>
                              <% }) %>
                              <h1>Others</h1>
                              <% files.map((file)=> { %>
                                  <% if(file.isReq) { %>
                                    <% if(file.metadata[2]=="Others" || file.metadata[3]=="Others") { %>
                                    <% count=false %>
                                    <div class="card card-body mb-3" style="color: #c8c8c8;background-color: #272b30;border-color: #c8c8c8;">
                                    <%= file.filename %>
                                    <div class="row">
                                      <div class="col-6">
                                        <p>Downloads:<%=file.noDown %> </p>
                                      </div>
                                      <div class="col-6">
                                        <div class="star-rating">
                                          <span class="fa fa-star-o" data-rating="1"></span>
                                          <span class="fa fa-star-o" data-rating="2"></span>
                                          <span class="fa fa-star-o" data-rating="3"></span>
                                          <span class="fa fa-star-o" data-rating="4"></span>
                                          <span class="fa fa-star-o" data-rating="5"></span>
                                          <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                      </div>
                                    </div>
                                      <div class="row align-items-start">
                                        <div class="col-2">
                                          <form method="POST" action="/files/mainfs/download/<%= department%>/<%= course%>/<%= file._id %>">
                                            <button class="btn btn-success btn-block mt-4" id='downloadbtn'>Download</button>
                                          </form>
                                        </div>
                                        <div class="col-2 mr-2" style="margin-left:10px">
                                          <form method="POST"
                                            action="/files/mainfs/<%= department%>/<%= course%>/<%= file._id %>?_method=DELETE">
                                            <button class="btn btn-danger mt-4">Delete</button>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                      <br>
                                      <% } %>
                                      <% } %>
                <% }) %>

            <% if(count){ %>
              <p>No files to show</p>
              <% } %>
              <% } else { %>
                <p>No files to show</p>
                <% } %>
              </div>
              </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  var $star_rating = $('.star-rating .fa');

var SetRatingStar = function() {
  return $star_rating.each(function() {
    if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};

$star_rating.on('click', function() {
  $star_rating.siblings('input.rating-value').val($(this).data('rating'));
  return SetRatingStar();
});

SetRatingStar();
$(document).ready(function() {

});
</script>

</body>
</html>
