<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>College Resource Management</title>
    <script>
        function FileDetails() {

            // GET THE FILE INPUT.
            var fi = document.getElementById('uploadedfiles');

            // VALIDATE OR CHECK IF ANY FILE IS SELECTED.
            if (fi.files.length > 0) {

                // THE TOTAL FILE COUNT.
                document.getElementById('uploadfilestext').innerHTML =
                    'Total Files: <b>' + fi.files.length + '</b></br >';

                // RUN A LOOP TO CHECK EACH SELECTED FILE.
                for (var i = 0; i <= fi.files.length - 1; i++) {

                    var fname = fi.files.item(i).name;      // THE NAME OF THE FILE.
                    var fsize = fi.files.item(i).size;      // THE SIZE OF THE FILE.

                    // SHOW THE EXTRACTED DETAILS OF THE FILE.
                    document.getElementById('uploadfilestext').innerHTML =
                        document.getElementById('uploadfilestext').innerHTML + '<br /> ' +
                            fname + ' (<b>' + fsize + '</b> bytes)';
                }
            }
            else { 
                alert('Please select a file.') 
            }
            }

    </script>
    

</head>


<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/courses">College Resource</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li><a class="nav-link" href="/files/mainfs/<%= dept%>/<%= course%>">Course Page</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Upload File</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/courses/<%= dept %>">Home</a></li>
            <li><a href="/files/mainfs/<%= dept%>/<%= course%>">Course Page (<%= course%>)</a></li>
            <li><a href="#">Upload file to <%= course%></a></li>
          </ol>
          <br /><br />
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4">Upload Files </h1>
                <form action="/files/mainfs/<%= dept%>/<%= course%>/uploadfile" method="POST" enctype="multipart/form-data">
                    <div class="custom-file mb-3 d-grid gap-2">
                       

                        <input type="file" name="file" id="uploadedfiles"  multiple="multiple"  onchange="FileDetails()" accept='.pdf' class="custom-file-input border border-light border-3 text-white ">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
                    </div>
                    <div class="d-grid gap-2">
                        <p id='uploadfilestext'></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        


</body>

</html>
